<!-- templates/forum/ask_doubt.html -->
{% extends 'forum/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card shadow-sm">
    <!-- Add this after code_snippet field -->

    <div class="mb-3">
      <label>Categories:</label><br>
      {{ form.categories }}
    </div>
    <div class="mb-3">
        {{ form.is_public.label_tag }} {{ form.is_public }}
    </div>
      
  
    <div class="card-body">
        <h2 class="card-title mb-4">📝 Ask a Coding Doubt</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary mt-3">Submit & Get AI Help</button>
        </form>
    </div>
</div>
{% endblock %}
